pyflakes==0.9.2
pep8==1.6.2
twisted>=14.0
cssselect==0.9.1
readability-lxml==0.6.1
robostrippy==0.13
pyOpenSSL>=0.14
beautifulsoup4==4.3.2
debmeo==1.4
nltk==3.0.2
fastimage==0.2.1
goose-extractor==1.0.17
python-dateutil==2.4.2
treq>=15.0
pytidylib==0.2.4
